In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

In [4]:
from pprint import pprint

# Reflect Tables into SQLAlchemy ORM

In [15]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [6]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [7]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [12]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [13]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [21]:
# Query all tobs in June
june_temps = pd.DataFrame(
    session.query(Measurement.tobs)
    .filter(extract('month', Measurement.date) == 6).all()
    , columns=['tobs']
)
june_temps.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [24]:
# Query all tobs in June
dec_temps = pd.DataFrame(
    session.query(Measurement.tobs)
    .filter(extract('month', Measurement.date) == 12).all()
    , columns=['tobs']
)
dec_temps.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

### Summary
After comparing June and December observed temperatures across all years, there does not appear to be a drastic difference. At least, not enough for it to be a hinderance on tourism. The average temperature only varies by ~4 degrees (Fahrenheit), which is just slightly over 1 standard deviation (3.25 degrees) from June's average. While it tends to be cooler in December overall, with 75% of the observations lower than 74 degrees (compared to 77 degrees in June), this is not a significant enough temperature change to hinder tourism. 

Based on the outcome of this data (i.e. Weather data not I would advise that we look into two other trends to better understand the Surf & Ice cream business in Oahu:

1. Overall tourism data for Oahu to better understand tourist trends
2. Season data for Waves to better understand peak season for surfers (as that may not be as dependent and consistent as weather in Oahu).


The follow-up analysis above on will help determine how we can prepare for slower seasons.